<%- include('header', {logged:logged, username:username}); -%>
<div>
    <div class="row">
        <div class="col-md-6">
            <center style="margin-left: 30px; margin-right: 30px; margin-top: 80px;">
                <h1>Welcome to remember</h1>
                <hr>
                <p class="lead">Remember is a new social network that allows you to write message and to see what other user write</p>
                <div class="row">
                    <a class="col-4 offset-1 btn btn-primary" href="/login">Login</a>
                    <a class="col-4 offset-2 btn btn-secondary" href="/message">All the message</a>
                </div>
            </center>
        </div>
        <div class="col-md-6">
            <center>
                <img src="images/company.jpg" style="width: 80%;">
            </center>
        </div>
    </div>
</div>
 
<%- include('footer') -%>