<%- include('header', {logged:logged, username:username}); -%>

<center class="container">
    <h1 class="display-4">Come with us</h1>
    <hr>
    <p class="lead">Befor see all the message you need to be logged</p>
    <div class="row">
        <a class="col-4 offset-1 btn btn-primary" href="/login">Login</a>
        <a class="col-4 offset-2 btn btn-secondary" href="/register">Register</a>
    </div>
</center>
 
<%- include('footer') -%>